/* Background */ .chroma { background-color: #ffffff }
/* Error */ .chroma .ss4 { color: #a61717; background-color: #e3d2d2 }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc; display: block; width: 100% }
/* LineNumbers */ .chroma .ln { ; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .s3e8 { font-weight: bold }
/* KeywordType */ .chroma .s3ee { color: #445588; font-weight: bold }
/* NameAttribute */ .chroma .s7d1 { color: #008080 }
/* NameBuiltin */ .chroma .s7d2 { color: #999999 }
/* NameClass */ .chroma .s7d4 { color: #445588; font-weight: bold }
/* NameConstant */ .chroma .s7d5 { color: #008080 }
/* NameEntity */ .chroma .s7d7 { color: #800080 }
/* NameException */ .chroma .s7d8 { color: #990000; font-weight: bold }
/* NameFunction */ .chroma .s7d9 { color: #990000; font-weight: bold }
/* NameNamespace */ .chroma .s7dd { color: #555555 }
/* NameTag */ .chroma .s7e2 { color: #000080 }
/* NameVariable */ .chroma .s7e3 { color: #008080 }
/* LiteralString */ .chroma .sc1c { color: #bb8844 }
/* LiteralStringRegex */ .chroma .sc2a { color: #808000 }
/* LiteralNumber */ .chroma .sc80 { color: #009999 }
/* Operator */ .chroma .sfa0 { font-weight: bold }
/* Comment */ .chroma .s1770 { color: #999988; font-style: italic }
/* CommentSpecial */ .chroma .s1774 { color: #999999; font-weight: bold; font-style: italic }
/* CommentPreproc */ .chroma .s17d4 { color: #999999; font-weight: bold }
/* GenericDeleted */ .chroma .s1b59 { color: #000000; background-color: #ffdddd }
/* GenericEmph */ .chroma .s1b5a { font-style: italic }
/* GenericError */ .chroma .s1b5b { color: #aa0000 }
/* GenericHeading */ .chroma .s1b5c { color: #999999 }
/* GenericInserted */ .chroma .s1b5d { color: #000000; background-color: #ddffdd }
/* GenericOutput */ .chroma .s1b5e { color: #888888 }
/* GenericPrompt */ .chroma .s1b5f { color: #555555 }
/* GenericStrong */ .chroma .s1b60 { font-weight: bold }
/* GenericSubheading */ .chroma .s1b61 { color: #aaaaaa }
/* GenericTraceback */ .chroma .s1b62 { color: #aa0000 }
/* TextWhitespace */ .chroma .s1f41 { color: #bbbbbb }
